.support{
    position: relative;
    margin: 50px 0;
    z-index: 1;
        .support__prev{
            background: url(../../assets//imgs/support.png)no-repeat center;
            background-size: contain;
            height: 400px;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
              .support__text{
                font-size: 28px;
                padding: 10px;
                background-color: #b2c1ce54;
                 @media (max-width:576px) {
                     font-size: 20px;
                 }
              }
        }
    .support__item{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
          .support__item-left{
              background-color: gold;
              width: 33.333%;
              padding: 15px;
              display: flex;
              justify-content: center;
              align-items: center;
          }
          .support__item-right{
              width:33.333%;
              padding: 15px;
              background-color: #212322e3;
              text-align: center;
                .item__right-title{
                    font-size: 25px;
                    color:gold;
                    margin-bottom: 10px;
                }
                .item__right-text{
                    font-size: 20px;  
                }
                .item__right-btn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 15px;
                    margin: 5px;
                    border: 2px solid gold;
                    border-radius: 5px;
                    font-size: 20px;
                    cursor: pointer;
                     &:hover{
                        background-color: #69686363;
                     }
                }
             
          }

          .support__item-left, .support__item-right{
            @media (max-width:768px) {
                 width: 100%;
            }
        }
    }
}