.top-section {
  height: 100vh;
  background: url(../../assets/imgs/dm.jpg) center no-repeat;
  background-size: cover;
}

.top-section .top-section__center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #159957;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#155799), to(#159957));
  background: linear-gradient(to right, #155799, #159957);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 12px 4px #fff;
          box-shadow: 1px 1px 12px 4px #fff;
  font-weight: bold;
  font-size: 31px;
  padding: 15px;
  white-space: nowrap;
  text-align: center;
}

@media (max-width: 768px) {
  .top-section .top-section__center {
    font-size: 26px;
  }
}

@media (max-width: 576px) {
  .top-section .top-section__center {
    font-size: 18px;
  }
}

.top-section .top-section__center .top-section__center-t
.top-section__center-btn {
  margin: 10px;
  font-size: 21px;
}

.top-section .top-section__center .btn__rocket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 3px solid gold;
  border-radius: 5px;
  padding: 10px;
}

.top-section .top-section__center .btn__rocket:hover {
  color: gold;
  background-color: #39c15d36;
}

.top-section .top-section__center .btn__rocket .btn__rocket-icon {
  margin-right: 5px;
}

@-webkit-keyframes rocket {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes rocket {
  from {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
